:root {
  --primary-soft: hsl(215, 51%, 70%);
  --primary-medium: hsl(178, 100%, 50%);

  --neutral-dark-bg-main: hsl(217, 54%, 11%);
  --neutral-medium-card: hsl(216, 50%, 16%);
  --neutral-soft-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}